<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>California Institute of Technology</li>
    <li>Department of Geological and Planetary Sciences</li>
    <li>North Mudd Laboratories, Pasadena, CA, 91104</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 234 567 890</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:jschreie@caltech.edu">jschreie@caltech.edu</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://scholar.google.com/citations?user=y0hBZP0AAAAJ&hl=en&oi=a">Google Scholar</a></li>
  </ul>
</div>
